[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "basket"]
	path = basket
	url = https://github.com/kaneplusplus/basket
[submodule "bigmemory"]
	path = bigmemory
	url = https://github.com/kaneplusplus/bigmemory
[submodule "preference"]
	path = preference
	url = https://github.com/kaneplusplus/preference
